@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-slate-50 font-sans text-slate-900;
}
/* html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; ❌ this hides horizontal scroll
} */
/* Prevent page-level horizontal scrolling everywhere */
html,
body,
#root {
  height: 100%;
  /* overflow-x: hidden; */
  /* overflow-x: hidden; no page scroll */
}
